#navbar-color {
	background: #000;
}

.logo{
	width: 40%;
	margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

.listening-to {
	color: #fff;
	float: left;
	clear: both;
	margin-top: 10px;
	text-decoration: none;
}