@import '_color.scss';

#navbar-color {
	background: #000;
}

.logo{
	width: 40%;
	margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

.listening-to {
	color: #fff;
	float: left;
	clear: both;
	margin-top: 10px;
	
		a {
			text-decoration: none;
			color: $link_color;
			&:hover{
					color: lighten($link_color, 40%);
				}
		}
}